<!DOCTYPE html>
<html lang="en">

<%-  include('./partials/head.ejs') %>

<body class="m-5 py-0 px-5 font-body max-h-screen max-w-screen">

<%- include('./partials/nav.ejs') %>

    <div class="ml-5">
        <h2 class="generalText mb-10">All Blogs</h2>
        <% if(blogs.length> 0){%>

            <% blogs.forEach(blog=>{%>
                <h3 class="generalText capitalize mb-2"><%= blog.title %></h3>
                <p class="generalText"><%= blog.snippet%></p>
                <%})%>

        <% } else { %>
            <p class="generalText">there are no blog to display...</p>
        <%}%>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>